name = "koudaisai-plans-info-api"
main = "build/worker/shim.mjs"
compatibility_date = "2025-08-02"

[build]
command = "cargo install -q worker-build && worker-build --release"

[vars]
JWKS_URL = "https://auth2024.jizi.jp/realms/JIZI-Portal/protocol/openid-connect/certs"

[[kv_namespaces]]
binding = "PLANS"
id = "31ed065d0c21487a8ad781912874a2da"

[[kv_namespaces]]
binding = "PLAN_DETAILS"
id = "6bde2db19a3049ac9317f61a337a344b"

[[r2_buckets]]
bucket_name = "plan-icons"
binding = "plan_icons"

[observability.logs]
enabled = true