openapi: 3.0.3
info:
  title: 工大祭企画情報API
  description: 東京科学大学の学園祭である工大祭の企画情報を提供するAPI
  version: 1.0.0
servers:
  - url: https://api.koudaisai.com/v1
    description: 本番環境
  - url: https://staging-api.koudaisai.com/v1
    description: ステージング環境
  - url: http://localhost:8080/v1/
    description: 開発環境

paths:
  /plans:
    get:
      summary: 全ての企画情報を取得
      description: 工大祭の全ての企画情報を取得します。詳細情報（details）はinclude_details=trueを指定した場合のみ含まれます。
      parameters:
        - name: type
          in: query
          description: 企画タイプでフィルタリング
          schema:
            type: string
            enum: [booth, general, stage, labo]
        - name: recommended
          in: query
          description: おすすめ企画でフィルタリング
          schema:
            type: boolean
        - name: child_friendly
          in: query
          description: 子供向け企画でフィルタリング
          schema:
            type: boolean
        - name: lab_tour
          in: query
          description: 研究室ツアー参加企画でフィルタリング
          schema:
            type: boolean
        - name: include_details
          in: query
          description: 詳細情報（details）を含めるかどうか。trueの場合のみdetailsフィールドが返される
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 企画情報のリスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/BoothPlanRead'
                        - $ref: '#/components/schemas/GeneralPlanRead'
                        - $ref: '#/components/schemas/StagePlanRead'
                        - $ref: '#/components/schemas/LaboPlanRead'
  
  /plans/{planId}:
    get:
      summary: 特定の企画情報を取得
      description: 指定されたIDの企画情報を取得します。詳細情報（details）はinclude_details=trueを指定した場合のみ含まれます。
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
        - name: include_details
          in: query
          description: 詳細情報（details）を含めるかどうか。trueの場合のみdetailsフィールドが返される
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 企画情報
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BoothPlanRead'
                  - $ref: '#/components/schemas/GeneralPlanRead'
                  - $ref: '#/components/schemas/StagePlanRead'
                  - $ref: '#/components/schemas/LaboPlanRead'
        '404':
          description: 企画が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: 新しい企画を作成
      description: 指定されたIDで新しい企画を作成します。すでに同じIDの企画が存在する場合はconflictエラーを返します。
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BoothPlanCreate'
                - $ref: '#/components/schemas/GeneralPlanCreate'
                - $ref: '#/components/schemas/StagePlanCreate'
                - $ref: '#/components/schemas/LaboPlanCreate'
      responses:
        '201':
          description: 企画が正常に作成されました
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BoothPlanRead'
                  - $ref: '#/components/schemas/GeneralPlanRead'
                  - $ref: '#/components/schemas/StagePlanRead'
                  - $ref: '#/components/schemas/LaboPlanRead'
        '400':
          description: リクエストが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: 指定されたIDの企画が既に存在します
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - Bearer: []
    patch:
      summary: 企画情報を更新
      description: 指定されたIDの企画情報を更新します。企画が存在しない場合は404エラーを返します。
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BoothPlanUpdate'
                - $ref: '#/components/schemas/GeneralPlanUpdate'
                - $ref: '#/components/schemas/StagePlanUpdate'
                - $ref: '#/components/schemas/LaboPlanUpdate'
      responses:
        '200':
          description: 企画が正常に更新されました
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BoothPlanRead'
                  - $ref: '#/components/schemas/GeneralPlanRead'
                  - $ref: '#/components/schemas/StagePlanRead'
                  - $ref: '#/components/schemas/LaboPlanRead'
        '400':
          description: リクエストが無効です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 企画が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - Bearer: []
    delete:
      summary: 企画を削除
      description: 指定されたIDの企画を削除します。
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
      responses:
        '204':
          description: 企画が正常に削除されました
        '404':
          description: 企画が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - Bearer: []

  /plans/{planId}/icon:
    get:
      summary: 企画のアイコンダウンロードURLを取得
      description: 指定されたIDの企画のアイコン画像のダウンロードURLにリダイレクトします
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
      responses:
        '302':
          description: アイコンダウンロードURLへのリダイレクト
          headers:
            Location:
              description: アイコン画像のダウンロードURL
              schema:
                type: string
                format: uri
                example: "https://storage.example.com/icons/M-001.png?expires=1234567890&signature=abc123"
        '404':
          description: 企画またはアイコンが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: 企画のアイコンを更新
      description: 指定されたIDの企画のアイコン画像を更新します。
      parameters:
        - name: planId
          in: path
          required: true
          description: 企画ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - icon
              properties:
                icon:
                  type: string
                  format: binary
                  description: アイコン画像ファイル（PNG, JPEG, GIF形式）
      responses:
        '200':
          description: アイコンが正常に更新されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "アイコンが正常に更新されました"
                  icon_url:
                    type: string
                    format: uri
                    description: 更新されたアイコンのURL
                    example: "https://storage.example.com/icons/M-001.png"
        '400':
          description: リクエストが無効です（ファイル形式が不正、ファイルサイズが大きすぎるなど）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 企画が見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: ファイルサイズが大きすぎます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: サポートされていないファイル形式です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - Bearer: []

components:
  schemas:
    IndoorLocation:
      type: object
      required:
        - type
        - building
        - room
      properties:
        type:
          type: string
          enum: [indoor]
          description: 企画実施場所が屋内であることを示す
        building:
          type: string
          description: 建物名
        room:
          type: string
          description: 部屋名

    OutdoorLocation:
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum: [outdoor]
          description: 企画実施場所が屋外であることを示す
        name:
          type: string
          description: 企画実施場所の名称

    BasePlanRead:
      type: object
      required:
        - id
        - type
        - organization_name
        - plan_name
        - description
        - is_child_friendly
        - is_recommended
        - schedule
        - location
      properties:
        id:
          type: string
          description: 企画の一意識別子
        type:
          type: string
          description: 企画のタイプ
        organization_name:
          type: string
          description: 団体名（参加申請時のものを掲載、変更原則なし）
        plan_name:
          type: string
          description: 企画名（企画内容申請時のものを掲載、変更原則なし）
        description:
          type: string
          description: 企画内容紹介文
        is_child_friendly:
          type: boolean
          description: 子供向け企画か否か
        is_recommended:
          type: boolean
          description: おすすめ企画か否か
        schedule:
          type: array
          description: 企画のスケジュール一覧
          items:
            type: object
            properties:
              start_time:
                type: string
                format: date-time
                description: 企画開始時間
              end_time:
                type: string
                format: date-time
                description: 企画終了時間
        location:
          type: array
          description: 企画実施場所一覧
          items:
            oneOf:
              - $ref: '#/components/schemas/IndoorLocation'
              - $ref: '#/components/schemas/OutdoorLocation'
        details:
          $ref: '#/components/schemas/PlanDetails'
          description: 企画の詳細情報

    BasePlanCreate:
      type: object
      required:
        - type
        - organization_name
        - plan_name
        - description
        - is_child_friendly
        - is_recommended
        - schedule
        - location
      properties:
        type:
          type: string
          description: 企画のタイプ
        organization_name:
          type: string
          description: 団体名（参加申請時のものを掲載、変更原則なし）
        plan_name:
          type: string
          description: 企画名（企画内容申請時のものを掲載、変更原則なし）
        description:
          type: string
          description: 企画内容紹介文
        is_child_friendly:
          type: boolean
          description: 子供向け企画か否か
        is_recommended:
          type: boolean
          description: おすすめ企画か否か
        schedule:
          type: array
          description: 企画のスケジュール一覧
          items:
            type: object
            properties:
              start_time:
                type: string
                format: date-time
                description: 企画開始時間
              end_time:
                type: string
                format: date-time
                description: 企画終了時間
        location:
          type: array
          description: 企画実施場所一覧
          items:
            oneOf:
              - $ref: '#/components/schemas/IndoorLocation'
              - $ref: '#/components/schemas/OutdoorLocation'
        details:
          $ref: '#/components/schemas/PlanDetails'
          description: 企画の詳細情報

    BasePlanUpdate:
      type: object
      properties:
        organization_name:
          type: string
          description: 団体名（参加申請時のものを掲載、変更原則なし）
        plan_name:
          type: string
          description: 企画名（企画内容申請時のものを掲載、変更原則なし）
        description:
          type: string
          description: 企画内容紹介文
        is_child_friendly:
          type: boolean
          description: 子供向け企画か否か
        is_recommended:
          type: boolean
          description: おすすめ企画か否か
        schedule:
          type: array
          description: 企画のスケジュール一覧
          items:
            type: object
            properties:
              start_time:
                type: string
                format: date-time
                description: 企画開始時間
              end_time:
                type: string
                format: date-time
                description: 企画終了時間
        location:
          type: array
          description: 企画実施場所一覧
          items:
            oneOf:
              - $ref: '#/components/schemas/IndoorLocation'
              - $ref: '#/components/schemas/OutdoorLocation'
        details:
          $ref: '#/components/schemas/PlanDetails'
          description: 企画の詳細情報

    PlanDetails:
      type: object
      properties:
        products:
          type: array
          description: 当日販売される商品の一覧
          items:
            type: object
            properties:
              name:
                type: string
                description: 商品名
              price:
                type: integer
                description: 価格
              description:
                type: string
                description: 商品説明
              availability:
                type: string
                enum: [available, limited, sold_out]
                description: 販売状況
        additional_info:
          type: string
          description: 追加情報（マークダウン形式）

    BoothPlanRead:
      allOf:
        - $ref: '#/components/schemas/BasePlanRead'
        - type: object
          required:
            - type
          properties:
            id:
              type: string
              pattern: '^M-\d{3}$'
              description: 模擬店企画ID（M-000形式）
            type:
              type: string
              enum: [booth]

    BoothPlanCreate:
      allOf:
        - $ref: '#/components/schemas/BasePlanCreate'
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum: [booth]

    BoothPlanUpdate:
      allOf:
        - $ref: '#/components/schemas/BasePlanUpdate'
        - type: object

    GeneralPlanRead:
      allOf:
        - $ref: '#/components/schemas/BasePlanRead'
        - type: object
          required:
            - type
          properties:
            id:
              type: string
              pattern: '^I-\d{3}$'
              description: 一般企画ID（I-000形式）
            type:
              type: string
              enum: [general]
      example:
        id: "I-001"
        type: "general"
        organization_name: "ゲーム制作サークル"
        plan_name: "オリジナルゲーム体験会"
        description: "サークルメンバーが制作したオリジナルゲームを体験できます。"
        is_child_friendly: true
        is_recommended: true
        schedule:
          - start_time: "2025-10-25T10:00:00+09:00"
            end_time: "2025-10-25T17:00:00+09:00"
        location:
          - type: "indoor"
            building: "第二校舎"
            room: "2F 201教室"

    GeneralPlanCreate:
      allOf:
        - $ref: '#/components/schemas/BasePlanCreate'
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum: [general]

    GeneralPlanUpdate:
      allOf:
        - $ref: '#/components/schemas/BasePlanUpdate'
        - type: object

    StagePlanRead:
      allOf:
        - $ref: '#/components/schemas/BasePlanRead'
        - type: object
          required:
            - type
          properties:
            id:
              type: string
              pattern: '^S-\d{3}$'
              description: ステージ企画ID（S-000形式）
            type:
              type: string
              enum: [stage]
      example:
        id: "S-001"
        type: "stage"
        organization_name: "軽音楽部"
        plan_name: "アコースティックライブ"
        description: "人気曲のカバーと部員によるオリジナル曲の演奏をお届けします。"
        is_child_friendly: true
        is_recommended: true
        schedule:
          - start_time: "2025-10-25T13:00:00+09:00"
            end_time: "2025-10-25T14:00:00+09:00"
        location:
          - type: "outdoor"
            name: "中央ステージ"

    StagePlanCreate:
      allOf:
        - $ref: '#/components/schemas/BasePlanCreate'
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              enum: [stage]

    StagePlanUpdate:
      allOf:
        - $ref: '#/components/schemas/BasePlanUpdate'
        - type: object

    LaboPlanRead:
      allOf:
        - $ref: '#/components/schemas/BasePlanRead'
        - type: object
          required:
            - type
            - is_lab_tour
          properties:
            id:
              type: string
              pattern: '^L-\d{3}$'
              description: 研究室企画ID（L-000形式）
            type:
              type: string
              enum: [labo]
            is_lab_tour:
              type: boolean
              description: 研究室ツアー参加企画か否か
      example:
        id: "L-001"
        type: "labo"
        organization_name: "ロボット工学研究室"
        plan_name: "ロボットプログラミング体験"
        description: "最新のロボット技術を体験し、簡単なプログラミングを学べます。"
        is_child_friendly: true
        is_recommended: true
        is_lab_tour: true
        schedule:
          - start_time: "2025-10-25T10:00:00+09:00"
            end_time: "2025-10-25T16:00:00+09:00"
        location:
          - type: "indoor"
            building: "工学部棟"
            room: "3F 305研究室"

    LaboPlanCreate:
      allOf:
        - $ref: '#/components/schemas/BasePlanCreate'
        - type: object
          required:
            - type
            - is_lab_tour
          properties:
            type:
              type: string
              enum: [labo]
            is_lab_tour:
              type: boolean
              description: 研究室ツアー参加企画か否か

    LaboPlanUpdate:
      allOf:
        - $ref: '#/components/schemas/BasePlanUpdate'
        - type: object
          properties:
            is_lab_tour:
              type: boolean
              description: 研究室ツアー参加企画か否か

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer